.holder
  .report-form
    %form{:action => "home/updatecontent", :method => "get", :controller => "/home", :remote=>"true", :id => "form-#{tab_name}-#{subtab}"}
      %fieldset

        -#Build selected fields for this subtab
        - fields.each_with_index do |(name, field), index|

          - if field[:input_type] == :checkbox
            %label.first{:for => "#{tab_name}-#{subtab}-#{index}"}= name.to_s.humanize
            %input{id: "#{tab_name}-#{subtab}-#{index}",:checked => field[:input_checked], :name =>"fieldsarray#{tab_name}-#{subtab}[]", :type => "checkbox"}/

          - if field[:input_type] == :select
            = render 'shared/select_field', name: name, input_options: field[:input_options], clas: 'attribute'
            
          
          - if field[:show_icon]
            = image_tag 'ico-01.png',alt: "image", height: "16", width:  "17"
    
        %a.fancybox.btn{:href => "#box"} Adjust Windows 
        %a.btn.submit Update Report 
        -#%input{:class => "btn", :type => "Submit"}


.coming-soon 
  = "Your "
  %span{ id: "data#{tab_name}-#{subtab}" }
  = " Data.  Coming Soon..."
  %br
  %br
  %br
  %span{ id: "controlls#{tab_name}-#{subtab}" } holas