%div{ id: "tab-#{tab_name}"}
  .child-tabs
    %ul.tabset
      -#Build subtab/header
      - subtabs.each do |subtab, fields|
        %li
          %a{:href => "#tab-#{tab_name}-#{subtab}", data_id: subtab }= subtab.to_s.titleize

    -#Build subtab/content
    - subtabs.each do |subtab, fields|
      %div{ id: "tab-#{tab_name}-#{subtab}" }
        = render 'subtab_content', fields: fields, subtab: subtab, tab_name: tab_name 
