#tabs
  %ul.tabset
    %li
      %a{:href => "#tab-dashboard"} dashboard
    %li
      %a{:href => "#tab-results"} results
    %li
      %a{:href => "#tab-optimization"} optimization
    %li
      %a{:href => "#tab-trends"} trends
    %li
      %a{:href => "#tab-audience"} audience
    %li
      %a{:href => "#tab-delivery"} delivery
  #tab-dashboard
    .child-tabs
      %ul.tabset
        %li
          %a{:href => "#tab-dashboard-impressions"} impressions
        %li
          %a{:href => "#tab-dashboard-actions"} actions
        %li
          %a{:href => "#tab-dashboard-viewactions"} view actions
        %li
          %a{:href => "#tab-dashboard-engagements"} engagements
        %li
          %a{:href => "#tab-dashboard-clicks"} clicks
      / / tabset
      #tab-dashboard-impressions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label.first{:for => "lbl01"} Advertiser
                %input#lbl01{:checked => "checked", :type => "checkbox"}/

                %label{:for => "lbl02"} Campaign
                %input#lbl02{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'

                %label{:for => "lbl03"} Site
                %input#lbl03{:type => "checkbox"}/
                = render 'icon_filter'

                %label{:for => "lbl04"} Placement
                %input#lbl04{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-dashboard-impressions
      #tab-dashboard-actions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl011"} Advertiser
                %input#lbl011{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl021"} Campaign
                %input#lbl021{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl031"} Site
                %input#lbl031{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl041"} Placement
                %input#lbl041{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-dashboard-actions
      #tab-dashboard-viewactions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl012"} Advertiser
                %input#lbl012{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl022"} Campaign
                %input#lbl022{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl032"} Site
                %input#lbl032{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl042"} Placement
                %input#lbl042{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-dashboard-viewactions
      #tab-dashboard-engagements
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl013"} Advertiser
                %input#lbl013{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl023"} Campaign
                %input#lbl023{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl033"} Site
                %input#lbl033{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl043"} Placement
                %input#lbl043{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-dashboard-engagements
      #tab-dashboard-clicks
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl014"} Advertiser
                %input#lbl014{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl024"} Campaign
                %input#lbl024{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl034"} Site
                %input#lbl034{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl044"} Placement
                %input#lbl044{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-dashboard-clicks
  / / tab-dashboard
  #tab-results
    .child-tabs
      %ul.tabset
        %li
          %a{:href => "#tab-results-impressions"} impressions
        %li
          %a{:href => "#tab-results-actions"} actions
        %li
          %a{:href => "#tab-results-viewactions"} view actions
        %li
          %a{:href => "#tab-results-engagements"} engagements
        %li
          %a{:href => "#tab-results-clicks"} clicks
      / / tabset
      #tab-results-impressions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl201"} Advertiser
                %input#lbl201{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl202"} Campaign
                %input#lbl202{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl203"} Site
                %input#lbl203{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl204"} Placement
                %input#lbl204{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-results-impressions
      #tab-results-actions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0211"} Advertiser
                %input#lbl0211{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0221"} Campaign
                %input#lbl0221{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0231"} Site
                %input#lbl0231{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0241"} Placement
                %input#lbl0241{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-results-actions
      #tab-results-viewactions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0212"} Advertiser
                %input#lbl0212{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0222"} Campaign
                %input#lbl0222{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0232"} Site
                %input#lbl0232{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0242"} Placement
                %input#lbl0242{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-results-viewactions
      #tab-results-engagements
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0213"} Advertiser
                %input#lbl0213{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0223"} Campaign
                %input#lbl0223{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0233"} Site
                %input#lbl0233{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0243"} Placement
                %input#lbl0243{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-results-engagements
      #tab-results-clicks
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0214"} Advertiser
                %input#lbl0214{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0224"} Campaign
                %input#lbl0224{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0234"} Site
                %input#lbl0234{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0244"} Placement
                %input#lbl0244{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-results-clicks
  / / tab-results
  #tab-optimization
    .child-tabs
      %ul.tabset
        %li
          %a{:href => "#tab-optimization-impressions"} impressions
        %li
          %a{:href => "#tab-optimization-actions"} actions
        %li
          %a{:href => "#tab-optimization-viewactions"} view actions
        %li
          %a{:href => "#tab-optimization-engagements"} engagements
        %li
          %a{:href => "#tab-optimization-clicks"} clicks
      / / tabset
      #tab-optimization-impressions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl301"} Advertiser
                %input#lbl301{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl302"} Campaign
                %input#lbl302{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl303"} Site
                %input#lbl303{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl304"} Placement
                %input#lbl304{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-optimization-impressions
      #tab-optimization-actions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0311"} Advertiser
                %input#lbl0311{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0321"} Campaign
                %input#lbl0321{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0331"} Site
                %input#lbl0331{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0341"} Placement
                %input#lbl0341{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-optimization-actions
      #tab-optimization-viewactions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0312"} Advertiser
                %input#lbl0312{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0322"} Campaign
                %input#lbl0322{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0332"} Site
                %input#lbl0332{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0342"} Placement
                %input#lbl0342{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-optimization-viewactions
      #tab-optimization-engagements
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0313"} Advertiser
                %input#lbl0313{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0323"} Campaign
                %input#lbl0323{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0333"} Site
                %input#lbl0333{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0343"} Placement
                %input#lbl0343{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-optimization-engagements
      #tab-optimization-clicks
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0314"} Advertiser
                %input#lbl0314{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0324"} Campaign
                %input#lbl0324{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0334"} Site
                %input#lbl0334{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0344"} Placement
                %input#lbl0344{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-optimization-clicks
  / / tab-optimization
  #tab-trends
    .child-tabs
      %ul.tabset
        %li
          %a{:href => "#tab-trends-impressions"} impressions
        %li
          %a{:href => "#tab-trends-actions"} actions
        %li
          %a{:href => "#tab-trends-viewactions"} view actions
        %li
          %a{:href => "#tab-trends-engagements"} engagements
        %li
          %a{:href => "#tab-trends-clicks"} clicks
      / / tabset
      #tab-trends-impressions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0441"} Advertiser
                %input#lbl0441{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0442"} Campaign
                %input#lbl0442{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0443"} Site
                %input#lbl0443{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0444"} Placement
                %input#lbl0444{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-trends-impressions
      #tab-trends-actions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0411"} Advertiser
                %input#lbl0411{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0421"} Campaign
                %input#lbl0421{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0431"} Site
                %input#lbl0431{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl04441"} Placement
                %input#lbl04441{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-trends-actions
      #tab-trends-viewactions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0412"} Advertiser
                %input#lbl0412{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0422"} Campaign
                %input#lbl0422{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0432"} Site
                %input#lbl0432{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl04442"} Placement
                %input#lbl04442{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-trends-viewactions
      #tab-trends-engagements
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0413"} Advertiser
                %input#lbl0413{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0423"} Campaign
                %input#lbl0423{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0433"} Site
                %input#lbl0433{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl04443"} Placement
                %input#lbl04443{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-trends-engagements
      #tab-trends-clicks
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0414"} Advertiser
                %input#lbl0414{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0424"} Campaign
                %input#lbl0424{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0434"} Site
                %input#lbl0434{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl04444"} Placement
                %input#lbl04444{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-trends-clicks
  / / tab-trends
  #tab-audience
    .child-tabs
      %ul.tabset
        %li
          %a{:href => "#tab-audience-impressions"} impressions
        %li
          %a{:href => "#tab-audience-actions"} actions
        %li
          %a{:href => "#tab-audience-viewactions"} view actions
        %li
          %a{:href => "#tab-audience-engagements"} engagements
        %li
          %a{:href => "#tab-audience-clicks"} clicks
      / / tabset
      #tab-audience-impressions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl051"} Advertiser
                %input#lbl051{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl052"} Campaign
                %input#lbl052{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl053"} Site
                %input#lbl053{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl054"} Placement
                %input#lbl054{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Optimization Target
                  %option Optimization Target
                  %option Optimization Target
                %select.attribute
                  %option Browser Atttibute
                  %option Browser Attribute
                  %option Browser Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-audience-impressions
      #tab-audience-actions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0511"} Advertiser
                %input#lbl0511{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0521"} Campaign
                %input#lbl0521{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0531"} Site
                %input#lbl0531{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0541"} Placement
                %input#lbl0541{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-audience-actions
      #tab-audience-viewactions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0512"} Advertiser
                %input#lbl0512{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0522"} Campaign
                %input#lbl0522{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl05532"} Site
                %input#lbl05532{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0542"} Placement
                %input#lbl0542{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-audience-viewactions
      #tab-audience-engagements
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0513"} Advertiser
                %input#lbl0513{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0523"} Campaign
                %input#lbl0523{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0533"} Site
                %input#lbl0533{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0543"} Placement
                %input#lbl0543{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-audience-engagements
      #tab-audience-clicks
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0514"} Advertiser
                %input#lbl0514{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0524"} Campaign
                %input#lbl0524{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0534"} Site
                %input#lbl0534{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0544"} Placement
                %input#lbl0544{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-audience-clicks
  / / tab-audience
  #tab-delivery
    .child-tabs
      %ul.tabset
        %li
          %a{:href => "#tab-delivery-impressions"} impressions
        %li
          %a{:href => "#tab-delivery-actions"} actions
        %li
          %a{:href => "#tab-delivery-viewactions"} view actions
        %li
          %a{:href => "#tab-delivery-engagements"} engagements
        %li
          %a{:href => "#tab-delivery-clicks"} clicks
      / / tabset
      #tab-delivery-impressions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl061"} Advertiser
                %input#lbl061{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl062"} Campaign
                %input#lbl062{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl063"} Site
                %input#lbl063{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl064"} Placement
                %input#lbl064{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab61
      #tab-delivery-actions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0611"} Advertiser
                %input#lbl0611{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0621"} Campaign
                %input#lbl0621{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0631"} Site
                %input#lbl0631{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0641"} Placement
                %input#lbl0641{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-delivery-actions
      #tab-delivery-viewactions
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0612"} Advertiser
                %input#lbl0612{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0622"} Campaign
                %input#lbl0622{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0632"} Site
                %input#lbl0632{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0642"} Placement
                %input#lbl0642{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-delivery-viewactions
      #tab-delivery-engagements
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0613"} Advertiser
                %input#lbl0613{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0623"} Campaign
                %input#lbl0623{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0633"} Site
                %input#lbl0633{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0643"} Placement
                %input#lbl0643{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-delivery-engagements
      #tab-delivery-clicks
        .holder
          .report-form
            %form{:action => "#"}
              %fieldset
                %label{:for => "lbl0614"} Advertiser
                %input#lbl0614{:checked => "checked", :type => "checkbox"}/
                %label{:for => "lbl0624"} Campaign
                %input#lbl0624{:checked => "checked", :type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0634"} Site
                %input#lbl6034{:type => "checkbox"}/
                = render 'icon_filter'
                %label{:for => "lbl0644"} Placement
                %input#lbl0644{:type => "checkbox"}/
                = render 'icon_filter'
                %select.attribute
                  %option Online Attribute
                  %option Online Attribute
                  %option Online Attribute
                %a.fancybox.btn{:href => "#box"} Adjust Report
        .coming-soon Your Data.  Coming Soon...
      / / tab-delivery-clicks
  / / tab-delivery
