<div id="header">
  <div class="name-form">
    <form action="#">
      <fieldset>
        <div class="col">
          <strong class="logo"><%= link_to (image_tag "logo.png",alt: "image"), '#' %></strong>
          <div class="cols  ">
            <%= render 'shared/select_field', input_options: ['Advertiser 1', 'Advertiser 2', 'Advertiser 3']%>
            <%= render 'shared/select_field', input_options: ['Agency 1', 'Agency 2', 'Agency 3']%>
          </div>  
        </div>
        <div class="col">
          <div class="select">
            <%= render 'shared/select_field', input_options: ['John User', 'Preferences', 'Help', 'Log Out'], clas: 'name'%>
            <strong class="logo verity"><%= link_to (image_tag "logo-verity.png",alt: "image"), '#' %></strong>
          </div> 
        </div>  
      </fieldset>
    </form>
  </div>
</div>